
<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.eierhuette" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>EierhuetteApp</name>
  <description>Eierhütten Navigation</description>
  <author email="you@example.com" href="https://example.com">Eierhuetten Dev</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="*" />
  <preference name="orientation" value="portrait" />
</widget>
